

<div class="center">
<div class="p-grid">
    <label>Since the start of the last academic year, how often have you self-censored your professional expression (research, teaching/studies, publication, public expression) because of fear of professional, legal or violent retaliation?</label>
    <div class="p-col">
        <p-radioButton name="groupname" value="Never" label="Never" [(ngModel)]="selectedValue"></p-radioButton>
        <p-radioButton name="groupname" value="Sometimes" label="Sometimes" [(ngModel)]="selectedValue"></p-radioButton>
        <p-radioButton name="groupname" value="Frequently" label="Frequently" [(ngModel)]="selectedValue"></p-radioButton>
        <p-radioButton name="groupname" value="All the time" label="All the time" [(ngModel)]="selectedValue"></p-radioButton>
    </div>
</div>

<div class="p-grid">
    <div class="p-col">
        <label>Since the start of the last academic year, how many professional colleagues or students are you aware of who have self-censored their professional expression (research, teaching/studies, publication, public expression) because of fear of professional, legal or violent retaliation?</label>
        <p-radioButton name="groupname2" value="None" label="None" [(ngModel)]="selectedValue2"></p-radioButton>
        <p-radioButton name="groupname2" value="A few" label="A few" [(ngModel)]="selectedValue2"></p-radioButton>
        <p-radioButton name="groupname2" value="A majority" label="A majority" [(ngModel)]="selectedValue2"></p-radioButton>
        <p-radioButton name="groupname2" value="Almost all" label="Almost all" [(ngModel)]="selectedValue2"></p-radioButton>
    </div>
</div>

<div class="p-grid">
    <div class="p-col">
        <label>Since the start of the last academic year, how often have you advised any professional colleagues or students to self-censor their professional expression (research, teaching/studies, publication, public expression) because of fear of professional, legal or violent retaliation?</label>
        <p-radioButton name="groupname3" value="Never" label="Never" [(ngModel)]="selectedValue3"></p-radioButton>
        <p-radioButton name="groupname3" value="Sometimes" label="Sometimes" [(ngModel)]="selectedValue3"></p-radioButton>
        <p-radioButton name="groupname3" value="Frequently" label="Frequently" [(ngModel)]="selectedValue3"></p-radioButton>
        <p-radioButton name="groupname3" value="All the time" label="All the time" [(ngModel)]="selectedValue3"></p-radioButton>
    </div>
</div>

<div class="p-grid">
    <div class="p-col">
        <label>What is the primary source of consequences that you or any professional colleagues or students might fear that would cause you to self-censor your professional expression</label>
        <p-radioButton name="groupname4" value="Colleagues/professional peers" label="Colleagues/professional peers" [(ngModel)]="selectedValue4"></p-radioButton>
        <p-radioButton name="groupname4" value="University/employer" label="University/employer" [(ngModel)]="selectedValue4"></p-radioButton>
        <p-radioButton name="groupname4" value="Home country government" label="Home country government" [(ngModel)]="selectedValue4"></p-radioButton>
        <p-radioButton name="groupname4" value="Foreign country government" label="Foreign country government" [(ngModel)]="selectedValue4"></p-radioButton>
        <p-radioButton name="groupname4" value="Society/public" label="Society/public" [(ngModel)]="selectedValue4"></p-radioButton>
        <p-radioButton name="groupname4" value="Not sure" label="Not sure" [(ngModel)]="selectedValue4"></p-radioButton>
        <p-radioButton name="groupname4" value="No fear of consequences" label="No fear of consequences" [(ngModel)]="selectedValue4"></p-radioButton>
    </div>
</div>

<div class="p-grid">
    <div class="p-col">
        <label>Since the start of the last academic year, have you experienced any professional, legal or violent retaliation for your professional expression (research, teaching/studies, publication, public expression)</label>
        <p-radioButton name="groupname5" value="Yes" label="Yes" [(ngModel)]="selectedValue5"></p-radioButton>
        <p-radioButton name="groupname5" value="No" label="No" [(ngModel)]="selectedValue5"></p-radioButton>
        <p-radioButton name="groupname5" value="Not sure" label="Not sure" [(ngModel)]="selectedValue5"></p-radioButton>
    </div>
</div>

<div class="p-grid">
    <div class="p-col">
        <label>Since the start of the last academic year, are you aware of any professional colleagues or students who have experienced any professional, legal or violent retaliation for their professional expression (research, teaching/studies, publication, public expression)</label>
        <p-radioButton name="groupname6" value="Yes" label="Yes" [(ngModel)]="selectedValue6"></p-radioButton>
        <p-radioButton name="groupname6" value="No" label="No" [(ngModel)]="selectedValue6"></p-radioButton>
        <p-radioButton name="groupname6" value="Not sure" label="Not sure" [(ngModel)]="selectedValue6"></p-radioButton>
    </div>
</div>

<div class="p-grid">
    <div class="p-col">
        <label>Compared to before the start of the last academic year, are you more or less likely today to self-censor your professional expression (research, teaching/studies, publication, public expression) because of fear of professional, legal or violent retaliation?</label>
        <p-radioButton name="groupname7" value="More likely" label="More likely" [(ngModel)]="selectedValue7"></p-radioButton>
        <p-radioButton name="groupname7" value="Less likely" label="Less likely" [(ngModel)]="selectedValue7"></p-radioButton>
        <p-radioButton name="groupname7" value="About the same" label="About the same" [(ngModel)]="selectedValue7"></p-radioButton>
    </div>
</div>
</div>

<button (click)="onSubmit()">Submit</button>
